<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
    body{
        background-color: beige;
    }
    textarea {
        margin: 10px;
    }
    #form-div{
        background-color: white;
        margin-top: 50px !important;
        margin: auto;
        width: 500px;
        padding: 30px 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

    }
</style>
<div class="container">

    <div id="form-div">
        <form action="/" method="POST">
            <center>
                <textarea name="array" cols="50" rows="3" placeholder="mails"></textarea>
                <br>
                <textarea name="code" cols="50" rows="5" placeholder="html"></textarea>
                <br>
                <Button type="submit" class="btn btn-lg btn-warning">Send</Button>
                
            </center>
            
        </form>
        
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>